#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3
 
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
        bindings = <
                   &kp W    &kp E                                                  &kp I      &kp O
  &kp N1    &kp Q  &kp S    &kp D    &kp R      &kp T           &kp Y    &kp U     &kp K      &kp L     &kp P    &kp MINUS
  &kp LSHFT &kp A  &kp X    &kp C    &kp F      &kp G           &kp H    &kp J     &kp COMMA  &kp DOT   &kp SEMI &kp N2
  &kp N2    &kp Z  &kp Y    &kp U    &kp V      &kp B           &kp N    &kp M     &kp PLUS   &kp EQUAL &kp FSLH &kp BSLH
                            &kp N8   &kp SPACE  &kp BSPC        &kp N0   &kp N5    &kp N3
                            &kp TAB  &kp P      &kp N7          &kp N6   &kp DEL   &kp N4
                                                                                                                                  
                                            
            >;
        };

        lower_layer {
            bindings = <
                             &kp F2   &kp F3                                             &kp F8     &kp F9
            &kp F12   &kp F1 &kp N2   &kp N3   &kp F4     &kp F5      &kp F6   &kp F7    &kp N8     &kp N9    &kp F10    &kp F11
            &kp LSHFT &kp N1 &kp N2   &kp C    &kp N4     &kp N5      &kp N6   &kp N7    &kp K      &kp L     &kp N0     &kp F11
            &kp LCTRL &kp Z  &kp LBKT &kp RBKT &kp V      &kp B       &kp N    &kp M     &kp PLUS   &kp EQUAL &kp FSLH &kp BSLH
                                       &trans  &kp SPACE  &kp BSPC    &kp RET  &kp SPACE &kp LGUI
                                      &kp TAB  &kp HOME   &kp GRAVE   &kp END  &kp DEL   &kp LALT

            >;
        };

        raise_layer {
            bindings = <
                             &kp W    &kp E                                              &kp I      &kp O
            &kp ESC   &kp Q  &kp S    &kp D    &kp R      &kp T       &kp Y    &kp U     &kp K      &kp L     &kp P    &kp MINUS
            &kp LSHFT &kp A  &kp X    &kp C    &kp F      &kp G       &kp H    &kp J     &kp COMMA  &kp DOT   &kp SEMI &kp SQT
            &kp LCTRL &kp Z  &kp LBKT &kp RBKT &kp V      &kp B       &kp N    &kp M     &kp PLUS   &kp EQUAL &kp FSLH &kp BSLH
                                      &mo RSE  &kp SPACE  &kp BSPC    &kp RET  &kp SPACE &kp LGUI
                                      &kp TAB  &kp HOME   &kp GRAVE   &kp END  &kp DEL   &kp LALT
            >;
        };

        adjust_layer {
            bindings = <
                             &kp W    &kp E                                              &kp I      &kp O
            &kp ESC   &kp Q  &kp S    &kp D    &kp R      &kp T       &kp Y    &kp U     &kp K      &kp L     &kp P    &kp MINUS
            &kp LSHFT &kp A  &kp X    &kp C    &kp F      &kp G       &kp H    &kp J     &kp COMMA  &kp DOT   &kp SEMI &kp SQT
            &kp LCTRL &kp Z  &kp LBKT &kp RBKT &kp V      &kp B       &kp N    &kp M     &kp PLUS   &kp EQUAL &kp FSLH &kp BSLH
                                      &mo RSE  &kp SPACE  &kp BSPC    &kp RET  &kp SPACE &kp LGUI
                                      &kp TAB  &kp HOME   &kp GRAVE   &kp END  &kp DEL   &kp LALT
            >;
        };
    };
};
